h1 {
    font-size: 45px;
    color: whitesmoke;
    background: black;
    font-family: sans-serif
}

h2 {
    font-size: 32px;
    color: whitesmoke;
    background: black;
    font-family: sans-serif
}
p {
    color: whitesmoke;
    background: black;
    font-size: 24px;
    font-family: sans-serif
}
li {
    color: whitesmoke;
    background: black;
    font-size: 24px;
    font-family: sans-serif
}
.navi, a {
    color: whitesmoke;
    background: black;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
}

body {
    background: black;
    font-family: sans-serif
}

label {
    background: black;
    color: whitesmoke;
    font-family: sans-serif
}

.btn {
    background: whitesmoke;
    color: black;
}