<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Brokerage Engine Model Agents</title>
</head>
<body class="bebody">
    <br /><br />
    <img src="/Brokerage-Engine-logo.svg" alt="Brokerage Engine">
    <div class="beheader">Please input the agent information for 2018:</div>
    <div class="container">
        <form action="/predict-agent" method="POST">
            <div class="form-group">
                <label for="total_sales">Sales Volume</label>
                <input id="total_sales" type="number" name="total_sales" placeholder="6,000,000 -- total annual sales" style="border:1px solid #f27b29">
            </div>
            <div class="form-group">
                <label for="trans_count">Total Transactions</label>
                <input id="trans_count" type="number" name="trans_count" placeholder="20 -- total transactions" style="border:1px solid #f27b29">
            </div>
            <div class="form-group">
                <label for="unique_zip_codes">Count of Unique ZIP Codes</label>
                <input id="unique_zip_codes" type="number" name="unique_zip_codes" placeholder="15 -- number of unique zip codes" style="border:1px solid #f27b29">
            </div>
            <input class="btn" type="submit">
            </form>
        </div>
</body>
</html>