<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Brokerage Engine Model Agents</title>
</head>
<body class="p-5">
    {% include 'navbar.html' %}
    <br /><br />
    <h1>Please input the information about the Agent:</h1>
    <form action="/predict-agent" method="POST">
        <label for="avg_sales_trans">Average Transaction Sales Amount</label>
        <input id="avg_sales_trans" type="text" name="avg_sales_trans">
        <br />
        <label for="trans_count">Total Transaction Count</label>
        <input id="trans_count" type="text" name="trans_count">
        <br />
        <label for="list_trans_count">Listing Transaction Count</label>
        <input id="list_trans_count" type="text" name="list_trans_count">
        <br />
        <label for="buyer_trans_count">Buyer Transaction Count</label>
        <input id="buyer_trans_count" type="text" name="buyer_trans_count">
        <br />
        <label for="unique_zip_codes">Count of Unique Zip Codes</label>
        <input id="unique_zip_codes" type="text" name="unique_zip_codes">
        <input class="btn" type="submit">
    
</body>
</html>