<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Brokerage Engine Model Agents</title>
</head>
<body class="p-5">
    {% include 'navbar.html' %}
    <br /><br />
    <h1>Please input the information about the Agent:</h1>
    <form action="/predict-agent" method="POST">
        <label for="sales_volume">Previous 12 Month Sales Volume (Gross Sales)</label>
        <input id="sales_volume" type="text" name="sales_volume">
        <br />
        <label for="sales_units">Previous 12 Month Sales Volume (Units)</label>
        <input id="sales_units" type="text" name="sales_units">
        <br />
        <label for="agent_commission">Previous 12 Month Agent Commission</label>
        <input id="agent_commission" type="text" name="agent_commission">
        <br />
        <label for="brokerage_commission">Previous 12 Month Brokerage Commission</label>
        <input id="brokerage_commission" type="text" name="brokerage_commission">
        <input class="btn" type="submit">
    
</body>
</html>