<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Factorial Math</title>
</head>
<body class="p-5">
        {% include 'navbar.html' %}
        <br /><br />
        <form action="/factorial-solved" method="POST">
            <label for="f_number">Enter a number to solve its factorial:</label>
            <input id="f_number" type="text" name="f_number">
            <input class="btn" type="submit">
</body>
</html>