<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <title>Random Dice Roller</title>
</head>
<body class="p-5">
    {% include 'navbar.html' %}
    <h1 class="h1">Random Number Generator</h1>
    <audio src="/static/good_enough.mp3" controls></audio>
    <br />
    <p><h1>Your random number is <em>{{ random_number }}</em></h1></p>
    <p>Here's a silly comic for you.</p>
    <img src="static/dilbert.jpg" alt="Random Number Monster">
    <br />
    <p>Wanna hear the sound of dice rolling?  Click <em>play</em>!</p>
    <audio src="static/dice.mp3" controls></audio>
</body>
</html>