<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Orion Wills's Project Page</title>
</head>
<body class="p-4">
    {% include 'navbar.html' %}
    <h1 class="h1">Orion Wills' Personal Place</h1>
    <p>Here is a small collection of projects that have been learned throughout the Codeup Data Science Program.</p>
    <p>A few things that you'll find here:</p>
    <ul>
        <li>Predictors using various mathodologies</li>
        <li>Python functions rendered onto the page via Flask</li>
        <li><a href="/resume">My resume/CV</a></li>


    </ul>
</body>
</html>