<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Agent Prediction</title>
</head>
<body class="p-5">
    {% include 'navbar.html' %}
    <h1>Agent Prediction</h1>
    <p>This agent has the prediction of:</p>
    <p>{{ prediction }}</p>
    <p>Based on the following information:</p>
    <ul>
        <li>${{ sales_volume }} total sales volume</li>
        <li>{{ sales_units }} total sales units</li>
        <li>{{ agent_commission }} total agent commission</li>
        <li>{{ brokerage_commission }} total brokerage commission</li>
    </ul>
</body>
</html>