<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Agent Prediction</title>
</head>
<body class="bebody">
    <br /><br />
    <img src="/Brokerage-Engine-logo.svg" alt="Brokerage Engine" class="img-fluid">
    <div class="beheader">Agent Prediction</div>
    <p class="bep">{{ prediction }}</p>
    <br />
    <p class="bep">Probability of model: {{ y_proba }}%</p>
    <br /><br />
    <div class="beheader">
        <a href="/be-model-agents">Start Over</a>
    </div>
</body>
</html>